*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: #dc7b3c;
}
.container{
    background-color:#ffffff;
    border-radius: 50px;
}
.head{
    padding: 30px;
    border: 2px solid #dc7b3c;
}

.entry{
    padding: 30px;
    text-align: center;
}
.entry input{
    height: 60px;
    width: 300px;
    border-radius: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    border:4px solid #fa6400;
}
#btn{
    background-color: #fa6400;
    padding: 10px 15px;
    font-style: italic;
    color: white;
    border: none;
    border-radius: 10px;
}